@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Inter, sans-serif;
    }
  }

.btn {
    text-transform: capitalize;
    color: #fff;
}

.just-launched-image {
  width: 20px;
  height:10px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.background1 {
  background-color: '#EEEFF4';
}

.rightWaveFormBg {
  background-image: url("/assets/images/right-waveform.svg");
}

.leftWaveFormBg {
  background-image: url("/assets/images/ESM-01/left-pattern.svg");
}


.backgroundPattern {
  background-image: url("/assets/images/background-pattern.svg");
}

/*Google map*/
div.google_map:hover{
-webkit-filter: grayscale(20%) !important; 
filter: grayscale(20%) !important;
transition-delay:300ms !important;
transition-duration:400ms !important;
}

